package packagename;

import java.io.IOException;

import ch.neukom.advent2025.util.inputreaders.InputResourceReader;

public class ClassName {
    public static void main(String[] args) throws IOException {
        try (InputResourceReader reader = new InputResourceReader(ClassName.class)) {
            run(reader);
        }
    }

    private static void run(InputResourceReader reader) {

    }
}
